profiles {
    slurm {
      process.executor = 'slurm'
      singularity.enabled = true
      }
    test_local {
      process.executor = 'local'
      singularity.enabled = true
      singularity.cacheDir = 'simgs/cache'
    }
}


process {
  withName: 'Bam2Fastq|Sam2Bam|index_rmdup'{
    container = 'library://elin.axelsson/software/sam_bed_tools:v1.9_2.28.0'
  }
  withName: 'FASTQC' {
    container = 'library://elin.axelsson/software/fastqc_cutadapt_galore:v0.11.5_2.10_0.6.5'
  }
  withName: 'BamStats' {
    container = 'biocontainers/fastxtools:v0.0.14'
  }
  withName: 'FilterFastq' {
    container = 'library://elin.axelsson/software/fastqc_cutadapt_galore:v0.11.5_2.10_0.6.5'
  }
  withName: 'TrimFastq' {
    container = 'library://elin.axelsson/software/seqtk:v1.3'
  }
  withName: 'AlignBowtie2' {
    container = 'library://default/pipeline/bowtie2:v2.4.1'
  }
  withName: 'rmdup' {
    container = 'docker://broadinstitute/picard:2.22.8'
  }
  withName: 'corPlot' {
    container = 'library://elin.axelsson/software/deeptools:v3.1.2'
  }
}
